.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 20px;
    border: 1px solid #0b0a0a;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    background-color: #9a9ea1;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-label {
    display: block;
    margin-top: 5px;
    color: #666;
}

.new-user {
    margin-top: 20px;
}

.sign-up-link {
    color: #007bff;
    text-decoration: none;
}

.sign-up-link:hover {
    text-decoration: underline;
}



